/**Author: Kali Campbell
    Date: 6/29/2023
    Topic: Responsive Trave; **/

@media screen and (min-width: 900px){
    .itineraries, .setup{ float: left; padding: 20px; width: 40%}
    .itineraries>img{max-height: 300px;text-align: center;}
    .tours {display:inline-block; width:100%}
    }
    

@media screen and (min-width:1150px ) {
    .itineraries, .setup{ width: 30%; float: left; padding: 20px;} 
    .tours{ width: 30%;} 

}