/**Author: Kali Campbell
    Date: 6/29/2023
    Topic: Responsive Travel**/


body { background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    }

img {width: 300px; text-align: center;}

.container {
    margin: auto;
    width: 75%;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
}

nav{
    display: inline-block;
    list-style: none;
}
footer {clear:both;}



